<div class="header">
<br> <br> 
</div>

<div class="jumbotron">
  <h2>Hello, I am Sunny.</h2>
  <p class="lead">
	<div class="alert alert-danger">
		I'm an aspiring developer and current student at Rutgers University, majoring in<b> computer science</b> with a minor in <b>mathematics</b>. I dabble with various javascript frameworks, constantly looking for a new project. Check out my work!  
</div>
	<div class="alert alert-success">
	<a class="label label-warning" href="https://github.com/sanatshah">Github</a>
	<a class="label label-danger" href="file:///home/sunny/Documents/Projects/sanatshah.com/app/images/resume.pdf" type="application/pdf"  >Resume</a>
	<!--	<a class="label label-primary" href="/views/projects.html" >Projects</a> -->
	<a class="label label-success" href="mailto:sanat.shah3@gmail.com" >Email</a>
	<!--<a class="label label-default" href="/views/blog.html" >Blog</a>-->
	</div>
  </p>
</div>


<div class="footer">
  <p>Developed by Sanat Shah</p>
</div>
